#authentification, #parametres, #publicites
{
	border:solid 1px;
	padding : 5px;
	margin-bottom: 20px;
}

#annonces, #coldroite, #colgauche
{
	margin-top: 0px;
	vertical-align: top;
}

#authentification h4, #parametres h4, #publicites h4
{
	margin-top: 0px;
}

#titre{
	display: inline-block;
}

#banniere{
	display: inline-block;
	width: 900px;
	margin: auto
}

nav ul
{
	list-style-type: none;
}

nav li
{
	display: inline-block;
	margin-right:50px;
	
}

header, footer{
	background-color:gray;
	width: 900px;
	margin: auto;
}
header h1{
	margin-bottom:0px;
}

header p{
	margin-top: 0px;
	text-align: right;
}
header h1, p{
	display:block;
	
}

#corps{
	width: 1000px;
	margin: auto;
	height: 500px;
	margin-top: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

#annonces{
	width:480px;
	display: inline-block;
	background-color:orange;
	
	
}

#coldroite
{
	float: right;
	width: 250px;
	display: inline-block;
}


aside {
	width:240px;
	background-color: green;
}

#colgauche
{
	float: left;
	width: 250px;
	display: inline-block;
}

footer{
	border-top:solid 1px;
	width: 900px;
}